
<md-toolbar color="primary" class="fixed-toolbar">
    <button md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
    <span class="toolbar-header">Droplab</span>
    
    <span class="example-spacer"></span>
    
    <button md-button [mdMenuTriggerFor]="componentsMenu">
        <md-icon>more_vert</md-icon> 
    </button>

    <md-menu #componentsMenu="mdMenu" class="sticky-overlay">
        <button md-menu-item [routerLink]="['/home']" routerLinkActive="active" >Home</button>
        <button md-menu-item [routerLink]="['/board']" routerLinkActive="active" >Board</button>
        <button md-menu-item [routerLink]="['/counter']" routerLinkActive="active" >Count</button>
        <button md-menu-item [routerLink]="['/fetch-data']" routerLinkActive="active" >FetchData</button>
    </md-menu>
</md-toolbar>