<div class="example-container">
  <h3>Normal Buttons</h3>
  <div class="example-button-row">
      <button mat-button>Flat Button</button>
      <button mat-button color="primary">Primary Flat Button</button>
      <button mat-button color="accent">Accent Flat Button</button>
      <button mat-button color="warn">Warn Flat Button</button>
  </div>
  <div class="example-button-row">
      <button mat-raised-button>Raised Button</button>
      <button mat-raised-button color="primary">Primary Raised Button</button>
      <button mat-raised-button color="accent">Accent Raised Button</button>
      <button mat-raised-button color="warn">Warn Raised Button</button>
  </div>
  <div class="example-button-row">
      <button mat-fab><mat-icon>add</mat-icon></button>
      <button mat-fab color="primary"><mat-icon>add</mat-icon></button>
      <button mat-fab color="warn"><mat-icon>add</mat-icon></button>
  </div>
  <div class="example-button-row">
      <button mat-mini-fab><mat-icon>add</mat-icon></button>
      <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
      <button mat-mini-fab color="warn"><mat-icon>add</mat-icon></button>
  </div>
  <h3>Link Buttons</h3>
  <div class="example-button-row">
      <a mat-button>Flat Button</a>
      <a mat-button color="primary">Primary Flat Button</a>
      <a mat-button color="accent">Accent Flat Button</a>
      <a mat-button color="warn">Warn Flat Button</a>
  </div>
  <div class="example-button-row">
      <a mat-raised-button>Raised Button</a>
      <a mat-raised-button color="primary">Primary Raised Button</a>
      <a mat-raised-button color="accent">Accent Raised Button</a>
      <a mat-raised-button color="warn">Warn Raised Button</a>
  </div>
  <div class="example-button-row">
      <a mat-fab><mat-icon>add</mat-icon></a>
      <a mat-fab color="primary"><mat-icon>add</mat-icon></a>
      <a mat-fab color="warn"><mat-icon>add</mat-icon></a>        
  </div>
  <div class="example-button-row">
      <a mat-mini-fab><mat-icon>add</mat-icon></a>
      <a mat-mini-fab color="primary"><mat-icon>add</mat-icon></a>
      <a mat-mini-fab color="warn"><mat-icon>add</mat-icon></a>
  </div>
</div>