<mat-sidenav-container>
    
    <mat-sidenav #sidenav mode="push">
        <mat-nav-list>
            <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">Home</a>
            
            <mat-divider></mat-divider>
    
            <h3 mat-subheader>Getting Started</h3>
    
            <a mat-list-item routerLink="/setup" routerLinkActive="active">Setup</a>
            <a mat-list-item routerLink="/theming" routerLinkActive="active">Theming</a>
            <a mat-list-item routerLink="/typography" routerLinkActive="active">Typography</a>
            <a mat-list-item routerLink="/data-table" routerLinkActive="active">Data Table</a>
            
            <mat-divider></mat-divider>
    
            <h3 mat-subheader>Form Controls</h3>
    
            <a mat-list-item routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a>
            <a mat-list-item routerLink="/checkbox" routerLinkActive="active">Checkbox</a>
            <a mat-list-item routerLink="/datepicker" routerLinkActive="active">Datepicker</a>
            <a mat-list-item routerLink="/input" routerLinkActive="active">Input</a>
            <a mat-list-item routerLink="/radio" routerLinkActive="active">Radio</a>
            <a mat-list-item routerLink="/select" routerLinkActive="active">Select</a>
            <a mat-list-item routerLink="/slider" routerLinkActive="active">Slider</a>
            <a mat-list-item routerLink="/slide-toggle" routerLinkActive="active">Slide Toggle</a>
    
        </mat-nav-list>
    </mat-sidenav>
    
        <mat-toolbar color="primary" class="fixed-toolbar">
                <button mat-button (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
            
                <span class="toolbar-header">Droplab</span>
                
                <span class="example-spacer"></span>
                    
                <button mat-button [matMenuTriggerFor]="componentsMenu">
                    <mat-icon>more_vert</mat-icon> 
                </button>
            
                <mat-menu #componentsMenu="matMenu" class="sticky-overlay">
                    <button mat-menu-item [routerLink]="['/home']" routerLinkActive="active" >Home</button>
                    <button mat-menu-item [routerLink]="['/board']" routerLinkActive="active" >Board</button>
                    <button mat-menu-item [routerLink]="['/counter']" routerLinkActive="active" >Count</button>
                    <button mat-menu-item [routerLink]="['/fetch-data']" routerLinkActive="active" >FetchData</button>
                </mat-menu>
            </mat-toolbar>
    
        <div class="app-body">
            <router-outlet></router-outlet>            
        </div>  
    
</mat-sidenav-container>